  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400&family=Roboto:wght@300;400;700;900&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;1,300&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/*nav-section*/
.logo-container{
    width: 1920px;
    height: 130px;
    display: flex;
    /* border: 2px solid blue; */
    margin: 0 auto;
    justify-content: space-between;


}
.logo{
    display: flex;
    align-items: center;
    margin-left: 240px;
    gap: 20px;
}
.nav-manu{
    display: flex;
    margin-right: 40px;
    gap: 40px;
    align-items: center;
}
.title{
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
}
span{
   background-image: linear-gradient(#FF42A5);
   color: transparent;
}
ul{
    display: flex;
    gap: 70px;

}
li{
    list-style: none;
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;   
}
li a{
    text-decoration: none;
}
.btn{
    width: 266px;
    height: 66px;
    /* border: 2px solid red; */
    border-radius: 10px;
    background-color:rgba(11, 2, 35, 0.10) ;
    display: flex;
    gap: 10px;
    padding-left: 40px;
    align-items: center;
}
.hover:hover{
    border: 20px blue;
    background-color: aquamarine;
}

/*banner-section*/

main{
    width: 1920px;
    height: 100%;
    /* border: 1px solid rebeccapurple; */
    margin: 0 auto;
    margin-top: 30px;
}
.banner-container{
    display: flex;
    justify-content: space-between;
}
.banner-discription{
    width: 901px;
    height: 700px;
    /* border: 1px solid red; */
} 
h4{
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    
    text-transform: uppercase;
}
h2{
    text-align: center;
    font-family: Work Sans;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
   
    padding: 0;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    }
ul{
    display: block;
    align-items: center;
    

}
    li{
        text-align: left;
        margin-left: 240px;
       
    }
    li img{
        gap: 3px;
    }

    .SECTION2{
        
        text-align: center;
        display: inline-flex;
        padding: 21px 40px;
        align-items: flex-start;
        gap: 10px;
        position: relative;
    }
    .SING-IN{
        position: absolute;
        padding: 21px 40px;
        align-items: flex-start;
        gap: 10px;
        left: 280PX;
        color: #FFF;
        font-family: Work Sans;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
        background-color: #FF42A5;
        border-radius: 45px;
    }
    .rogue{
        position: absolute;
        left: 460px;
        padding: 21px 40px;
        align-items: flex-start;
        gap: 10px;
        padding: 21px 40px;
        align-items: flex-start;
        gap: 10px;
        color: #FFF;
        font-family: Work Sans;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
        background-color:#4EC5F7;
        border-radius: 45px;
    }
    .banner-image{
        margin-right: 240px;
    }

    /*section2*/
    .section2{
        width: 1920px;
        height: 600px;
        border: 2px solid black;
        display: flex;
        margin: 0 auto;
        margin-top: 40px;
    }
