  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400&family=Roboto:wght@300;400;700;900&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;1,300&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/*nav-section*/
.logo-container{
    width: 1920px;
    height: 130px;
    display: flex;
    /* border: 2px solid blue; */
    margin: 0 auto;
    justify-content: space-between;


}
.logo{
    display: flex;
    align-items: center;
    margin-left: 240px;
    gap: 20px;
}
.nav-manu{
    display: flex;
    margin-right: 40px;
    gap: 40px;
    align-items: center;
}
.img-1{
    border: none;
}
.title{
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
}
.span1{
   
    font-size:45px;
    font-family: Work Sans;
    font-style: normal;;
}
ul{
    display: flex;
    gap: 70px;

}
li{
    list-style: none;
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;   
}
li a{
    text-decoration: none;
}
.btn{
    width: 266px;
    height: 66px;
    /* border: 2px solid red; */
    border-radius: 10px;
    background-color:rgba(11, 2, 35, 0.10) ;
    display: flex;
    gap: 10px;
    padding-left: 40px;
    align-items: center;
    cursor: pointer;
}
.hover{
    border: none;
    
}
.hover:hover{
    border-radius: 50px;
    background-color: aquamarine;
}

/*banner-section*/

main{
    width: 1920px;
    height: 100%;
    /* border: 1px solid rebeccapurple; */
    margin: 0 auto;
    margin-top: 30px;
}
.banner-container{
    display: flex;
    justify-content: space-between;
}
.banner-discription{
    width: 901px;
    height: 700px;
    /* border: 1px solid red; */
    background-image: url(images/Group\ 14.png);
} 
.banner-discription:hover{
    background-image: url(images/Group\ 14.png);
    border-color: #4EC5F7;
}
h4{
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    
    text-transform: uppercase;
}
h2{
    text-align: center;
    font-family: Work Sans;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
   
    padding: 0;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    
    }
ul{
    display: flex;
    align-items: center;
    

}

.list-item{
    margin-left: 175px;
    padding: 50px;
}
    .list{
        display: flex;
        text-align: left;
        margin-left: 240px;
       
    }
    .li img{
        gap: 3px;
    }

    .SECTION2{
        
        text-align: center;
        display: inline-flex;
        padding: 21px 40px;
        align-items: flex-start;
        gap: 10px;
        position: relative;
    }
    .SING-IN{
        position: absolute;
        padding: 21px 40px;
        align-items: flex-start;
        gap: 10px;
        left: 280PX;
        color: #FFF;
        font-family: Work Sans;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
        background-color: #FF42A5;
        border-radius: 45px;
        cursor: pointer;
    }
    .rogue{
        position: absolute;
        left: 460px;
        padding: 21px 40px;
        align-items: flex-start;
        gap: 10px;
        padding: 21px 40px;
        align-items: flex-start;
        gap: 10px;
        color: #FFF;
        font-family: Work Sans;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
        background-color:#4EC5F7;
        border-radius: 45px;
        cursor: pointer;
    }
    .banner-image{
        margin-right: 240px;
    }

    /*section2*/
    .section2{
        width: 1920px;
        height: 600px;
        /* border: 2px solid black; */
        display: flex;
        margin: 0 auto;
        margin-top: 40px;
        justify-content: space-between;
        align-items: center;
    }
    .img2{
        padding-left: 240px;
    }

    .section2-description{
        margin-right: 240px;
        text-align: right;

        
    }

    h3{
        font-family: Work Sans;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
    }
    .discription{
        color: #534C64;
        text-align: right;
        font-family: Work Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px; /* 166.667% */

    }
    .btn2{
        padding: 21px 40px;
        align-items: flex-start;
        gap: 10px;
        color: #FFF;
        background-color: #F948B2;
        border-radius: 45px;
    }
    span{
        color: #534C64;
        text-align: right;
        font-family: Work Sans;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
    }
    .title2{
        color: #534C64;
        font-family: Work Sans;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 45px;
    }

    /*section3*/

    .section4{
        width: 1920px;
        height: 100%;
        /* border: 1px solid blue; */
        margin: 0 auto;
        
    }
    .title3{
        margin-left: 240px;
        text-align: center;
    }
    .pragraph{
        margin-left: 240px;
        text-align: center;
        color: #534C64;
        text-align: center;
        font-family: Work Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
       
    }
    .title3{
        color: #0B0223;
        
        font-family: Work Sans;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
    }
    .size{
        font-size: 48px;
    }

    /*card section*/
    .card-section{
      display: flex;
      margin-left: 240px;  
      gap: 20px;
}
.title-card{
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

/* section-4 */

.section-img{
    width: 1920px;
    height:1000px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
    margin-top: 30px;
}
.left-image{
    margin-left: 238px;
    
}
.angle{
    position: absolute;
    right:10px ;
    bottom: 10px;
    left: 800px;
   

}

.right-discription{
    margin-right: 240px ;
}
/*section-5*/


.section-5-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);}
.child{
    display: flex;
}

.title-5{
   
    justify-content: space-between;
    align-items: center;
    margin-left: 240px;
    max-width: 440px;
    color: #FFF;
    
}
.orgin{
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 125% */
}.pra-5{
    color: #FFF;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}.child{
    color: #FFF;
    text-align: right;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    text-align: left;
    gap: 20px;
}
/*section-6*/
.log-container{
     width: 1920px;
    height: 227px;
    
    display: flex;
    margin: 0 auto;
    margin-left: 200px;
    /* margin-left: 320px; */
    align-items: center;
    padding: 20px;
    
    
}
.btn6{
    align-items: center;
    border: none;
    border-radius: 50px;
    display: flex;
    padding-left:  100px;
    color: #0B0223;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 40px;
    
    

}

.btn6:hover{
  background-color: #F948B2;
  /* border: #3C354F; */
}
.btn6 a{
    text-decoration: none;
}
.btn7{
    display: flex;
    margin: 0 auto;
    margin-left: 320px;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 20px;
}

/* footer section */

.footer-section{
    width: 1920px;
    height: 600px;
    margin: 0 auto;
    border: 1px solid blue;
    background: #0B0223;
    color: #FFF;
}

.logo-title7{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.color{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
}
.star{
    text-align: center;
    margin: 0 auto;
    margin-left: 520px;
    
}
.blue{
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}
.icon-list{
   margin: 0 auto;
   
   margin-top: 30px;
   /* padding: 40px; */
   display: flex;
   justify-content: center;
   gap: 46px;
}

img{
    text-align: center;
    gap: 30px;
    margin-left: 5px;
}
.footer-list{
    margin: 0 auto;
    display: flex;
    gap: 20px;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}
.end{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 40px;
}